# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Ignorar dependências de ambientes virtuais
venv/
.env/

# Ignorar arquivos de banco de dados locais
*.db
*.sqlite

# Ignorar logs e arquivos temporários
*.log
*.out
*.pid
/tmp/

# Ignorar diretórios ocultos do sistema
.DS_Store
Thumbs.db

# Ignorar repositórios de controle de versão
.git/
.gitignore

# Ignorar arquivos do Docker que podem ser regenerados
Dockerfile
.dockerignore

# Ignorar arquivos de build e cache do Docker
**/__pycache__/
*.tar
*.tar.gz
*.zip

